<p-toolbar color="primary">
  <a class="title" href="/">{{ title }}</a>

  <div class="toolbar-spacer"></div>

  <a type="button" pButton [routerLink]="['profile']">Profile</a>

  <button type="button" pButton class="p-button-raised" *ngIf="!loginDisplay" (click)="login()">Login</button>
  <button type="button" pButton class="p-button-raised" *ngIf="!loginDisplay" (click)="logout()">Logout</button>

</p-toolbar>
<div class="container">
  <!--This is to avoid reload during acquireTokenSilent() because of hidden iframe -->
  <router-outlet *ngIf="!isIframe"></router-outlet>
</div>